.ant-layout-content {
  background-image: url("../../assets/indeximg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
}
/* Not used */

